body {
    background-color: rgb(197, 196, 196);
}

body > div {
    margin: 1rem;
    display: flex;
}

h1 {
    display: block;
    text-align: center;
    color: green;
    text-shadow: 1px 1px 2px rgb(165, 19, 19);
}

button {
    margin: 1rem;
}

#intro {
    font-style: italic;
}

#gameContainer {
    display: flex;
    flex-wrap: wrap;
}


#proceedBtn {
    display: none;
}


#startOver {
    display: none;
}

#playerStats {
    max-width: 300px;
    padding: 1rem;
    border: 1px solid black;
    display: none;
    align-items: center;
    flex-flow: column;
}

.playerBtns {
    justify-content: center;
}

#playerAttack, #playerRetreat {
    display: none;
}

.aliens, .earth {
    display: flex;
    flex-basis: calc(100% - 500px);
    justify-content: center;
    align-items: center;
    padding: 2rem;
}

.slideIn {
    animation: slideIn 1s ease-in-out;
    overflow: hidden;
}

@keyframes slideIn {
    from {
        transform: translateY(-200%);
    }
    to {
        transform: translateY(0);
    }
}

.aliens > img {
    width: 100px;
    display: flex;
    justify-content: space-between;
    padding: 5px;
}

.earth > img {
    width: 140px;
    padding: 3rem;
    animation: animate__flash;
}